* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#one {
    padding-top: 0;
    margin-bottom: 0%;
}
header {
    background-image: url("./images/backgrounds/h_img.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section {
    background-image: url("./images/backgrounds/s_image.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}

h1 {
    color: black;
    text-align: center;
}
#contact {
    background-image: url("./images/backgrounds/c_image.jpg");
    padding-top: 100px;
    margin-bottom: 50px;
    background-size: cover;
    background-position: cover;
    width: 100%;
    max-width: 100%;
    margin-top: 10%;
}
.row4 {
    width: 100%;
    height: 300px;
    margin-right: -20px;
    margin-left: -20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0px;
}
.row5 {
  width: 100%;
  height: auto;
  margin-right: -20px;
  margin-left: -20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 20px;
  margin-bottom: 30px;
}
.row6 {
  width: 100%;
  height: auto;
  margin-right: -20px;
  margin-left: -20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 20px;
  padding-bottom: 40px;
}
.portfolio img {
  height: auto;
  width: auto;
  margin: auto;
  display: block;
}
#toggleDesignLogo {
    display: none;
    text-align: center;
}
#toggleDevLogo {
    display: none;
    text-align: center;
}
#toggleProductLogo {
    display: none;
    text-align: center;
}

#whatWeDo {
    text-align: center;
    font-size: 75%;
}
.card-1 {
    display: none;
}
.font-cont input {
    margin-top: 10px;
    width: 100%;
    background: transparent;
}
.card.hover {
    box-shadow: -1px 9px 40px -12px;
}